body {
  font-family: 'Playfair Display', serif;
  color: #000000;
  height: 100vh;
}

#background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color:white ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9; 
  z-index: -1;
}

#background-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images2/_S5A0631.jpg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9; 
  z-index: -1;
}

#background-overlay3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images2/_S5A8709.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9; 
  z-index: -1;
}


.navbar-brand {
  font-size: 30px;
  color: #ffc66a;
 
}

.keskelle{

  margin-top: 5%;
  text-align: center;
  

}



.teksti {


  padding-top: 3%;
  text-align: center;

}


#väliylös {

  margin-top: 20px;
  margin-bottom: 20px;
}


.otsikko{
  padding-top: 5%;
  margin-top: 2%;
  text-align: center;
  
}

.otsikko2 {
  padding-top: 1%;
  text-align: center;
  
}


.navbar-brand,
.nav-link {
    color: #000000;
}

#figtree-uniquifier {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
  
}

.bg-luonto {
  background-color:  #ffffff;

}

.rivi1{
  height: fit-content;
  margin-top: 3%;
}

.rivi2 {
  height: fit-content;
  margin-top: 8%;
}

.rivi3
{
  margin-top: 4%;
}

.rivi4
{
  margin-top: 4%;
  margin-bottom: 12%;
}


.hinta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin:40% auto
}
.hinta-sisältö {
  display: grid;
  column-gap: 50px;

 
}

.row1
{
height: 20px;

}

.row2
{

  height: 50px
}

.row3
{
  height: 20px;
}

.row5
{
  height: 20px;
}
.hinta-otsikko, #teksti-keskelle {
  font-size: 24px;
  font-weight: bold;
}
.hinta-teksti {
  padding: 1%;
  font-size: 16px;
  line-height: 1.5;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-fluid
{
  margin-bottom: 12%
}

.img-fluid4
{
  margin-bottom: 16%
}
.contact-card {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}


.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #ffffff;
}


.logo-text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #333;
  letter-spacing: 1px;
  margin: 20px 0;
}

.logo-text span {
  font-weight: 400; 
  color: #ff0400;   
}

#tyhja-boksi {
  
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
  text-align: center;
  padding: 15px;
  background-color: #ffffff;
  opacity: 0.9; 
  z-index: -1;
}

#tyhja-boksi .arvostelu {
  font-family: 'Great Vibes', cursive; 
  font-size: 22px;
  color: #333;
  margin: 0;
}

#tyhja-boksi .asiakas {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  font-style: normal;
}

